/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


header{
  font-family:'Noto Sans JP',sans-serif;
  height:100px;
}


body{
 font-family: 'Noto Sans JP',sans-serif;
 font-size: 20px;
 margin-top: 0;
 padding: 0;
 background-image: image-url("bg.png");
 background-color: rgba(255, 255, 255, 0.5); /* 背景色を半透明にする */
}

.flex-column{
  margin-top: 0;
  padding: 0;
}

.navbar{
  padding: 0;
}

.top-visual{
  width: 100%;
  height: 450px;
  background-image: image-url("orchestra.jpg");
  background-size: cover;
  background-position: center;
}

.top-visual-content{
  width: 100%;
  height: 450px;
  text-align: center;
  padding-top: 150px;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.5);
}

.tutorial-content{
  width: 100%;
  height: 800px;
  padding-bottom: 0;
  padding-top: 10px;
  background-image: image-url("tutorial2_1200.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.orchestra_main{
  width: 550px;
  height: 400px;
  background-image: image-url("orchestra-ilst600.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.6rem;
  }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
  h1 {
    font-size: 2.0rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 0.9rem;
  }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 425px 未満）
@media screen and (max-width: 425px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  h5{
    font-size: 0.7rem;
  }

  body{
    max-width: 100%;
  }
}

@media screen and (max-width: 250px) {
  body{
  max-width: 100%;
  }

  h5{
    font-size: 0.7rem;
  }
}