<div class="hidden alert-primary text-center"><%= flash[:notice] %></div>
 <div class="top-visual" >
   <div class="top-visual-content">
     <h2 class="top-visual-text text-dark">
         ようこそ、楽団の輪へ！<br><br>
         このサイトは、市民オーケストラや合唱団のためのSNSサイトです。<br>
         ご利用には団体代表者の方による<br>
         利用申請が必要です
     </h2>
    </div>
   </div>
  </div>
  <div class="tutorial">
  </div>
<%= link_to "楽団の申請はこちら", new_member_registration_path %><br>

