<%= render'members/list' %>
<div class="top-visual" >
  <div class="top-visual-content">
    <h1 class="top-visual-text text-dark pt-4 font-weight-bold">
      ようこそ、楽団の輪へ！
    </h1>
    <h1 class="top-visual-text text-dark pt-5 font-weight-bold">
      このサイトは、市民オーケストラや合唱団のためのSNSサイトです<br>
      ご利用には団体代表者による利用申請が必要です
    </h1>
  </div>
</div>

<div class="subtitle text-center">
<h2 class="shadow text-center bg-light rounded">サイトご利用までの流れ</h2>
</div>
 <ol class="list-group">
<li class="box1">
  <div class="shadow p-3 mb-5 bg-light rounded">楽団の代表者が下の申請ボタンからアカウントと楽団名の申請をします</div>
    </li>
    <div class="box2">
  <li class="shadow p-3 mb-5 bg-light rounded">サイトの管理者が承認をすると、マイページから入れるようになります</li>
    </div>

    <div class="box3">
  <li class="shadow p-3 mb-5 bg-light rounded">代表者の方は楽団ページから「団員を招待する」をクリックし招待メールを<br>団員の方々に送ってください</li>
    </div>
    </ol>
  <div class="button">
    <%= link_to "楽団の申請はこちら", new_member_registration_path, class: "btn btn-primary btn-lg float-right mr-5 mb-3" %><br>
  </div>
</div>


