<%= render'members/list' %>
<div class="top-visual" >
  <div class="top-visual-content">
    <h1 class="top-visual-text text-dark pt-4 font-weight-bold">
      ようこそ、楽団の輪へ！
    </h1>
    <h1 class="top-visual-text text-dark pt-5 font-weight-bold">
      このサイトは、市民オーケストラや合唱団のためのSNSサイトです<br>
      ご利用には団体代表者による利用申請が必要です
    </h1>
  </div>
</div>

<div class="tutorial mb-5">
  <div class="tutorial-content mt-5">
  </div>
  <div class="button">
    <%= link_to "楽団の申請はこちら", new_member_registration_path, class: "btn btn-primary btn-lg float-right mr-5" %><br>
  </div>
</div>


