<div class="hidden alert-primary text-center"><%= flash[:notice] %></div>
 <div class="top-visual" >
   <div class="top-visual-content">
     <h2 class="top-visual-text text-dark pt-4 font-weight-bold">
         ようこそ、楽団の輪へ！
      </h2>
      <h2 class="top-visual-text text-dark pt-5 font-weight-bold">
         このサイトは、市民オーケストラや合唱団のためのSNSサイトです<br>
         ご利用には団体代表者による利用申請が必要です
      </h2>
    </div>
   </div>
  </div>
  <div class="tutorial pt-2 pr-2">
   <%= link_to "楽団の申請はこちら", new_member_registration_path, class: "btn btn-primary btn-sm text-white float-right" %><br>

 </div>

