<div class="top-visual" >
  <div class="top-visual-content">
    <h1 class="top-visual-text text-dark pt-4 font-weight-bold">
      申請が完了しました<br>
      楽団が管理者に承認されるまでしばらくお待ちください<br>
      承認の状況はマイページから確認できます<br>
      <%= link_to "マイページ",members_my_page_path,class: 'btn btn-primary' %>
    </h1>
  </div>
</div>

