<h3 class="text-center font-weight-bold pt-5">楽団一覧</h3>
<div class="container pt-5" style="height:auto; width:700px;">

  <table class="table table-hover table-inverse">
   <tr>
    <th>楽団名</th>
    <th></th>
   </tr>
   <tr>
    <% @orchestras.each do |orchestra| %>
    <td><%= orchestra.orchestra_name %></td>
   </tr>
  <% end %>
 </table>
</div>