<%= render'members/list' %>
<div class="col-12">
  <h2 class="text-center mt-5 pb-0 text-dark"><ins><%= @orchestra.orchestra_name %>のページ</ins></h2>
</div>
<%= render'orchestras/list',orchestra: @orchestra %>


<div class="col-12 col-lg-6">
  <div class="orchestra_main img-fluid">
</div>
</div>
</div>
</div>
