<div class="hidden alert-primary text-center"><%= flash[:notice] %></div>

<h2 class="text-center mt-5 pb-0 text-dark"><ins><%= @orchestra.orchestra_name %>のページ</ins></h2>

<%= render'orchestras/list',orchestra: @orchestra %>
</div>
</div>