<%= render'members/list' %>


<h2 class="text-center mt-5 pb-0 text-dark"><ins><%= @orchestra.orchestra_name %>のページ</ins></h2>
<%= render'orchestras/list',orchestra: @orchestra %>
<div class="col-lg-9 float-center">
<div class="orchestra_main">
</div>
</div>
</div>
