<h2 class="text-center mt-5 text-dark"><ins>楽器パート名の編集</ins></h2>
<div class="container-fluid flex-column align-items-center justify-content-center mt-3">
  <div class="row">
    <div class="col text-center">
      <%= form_with model: @instrument, url: orchestra_instrument_path(@instrument.orchestra_id), local: true do |f| %>
      <label for="instrument_name">パート名</label><br>
      <%= f.text_field :name %><br>
      <%= f.submit '変更を保存', class: "btn btn-success mt-2" %>
      <% end %>
    </div>
  </div>
</div>